body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  color: black;
  background-color: red;
}

header {
  background-color: yellow;
}

section {
  color: darkblue;
  background-color: lightseagreen;
}

h2 {
  color: brown;
}

#about {
  background-color: grey;
}

#boxmodel,
#units {
  background-color: violet;
}

.codebox {
  background-color: teal;
}

section.codebox {
  background-color: teal;
}

nav ul {
  list-style-type: none;
}

nav li {
  background-color: black;
}
